/* global.css
__________________________________________________ */

:root {
	/* Colors */
	--turquoise-100: #017B65;
	--turquoise-200: #29A28C;

	--white-100: #FFFFFF;
	--white-200: #E5E5E5;

	--black-100: #000000;

	/* Gradient */
	--gradient-1: linear-gradient(243.89deg, #25BA9F 2.05%, #1B7F6D 52.81%, #157161 75.54%, #09463B 101.06%);

	/* Global */
	--global-font-famile: 'Open Sans', sans-serif;
	--global-font-size: 18px;
	--global-size-container: 1450px;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

[data-visibility='hidden'] {
	display: none;
	visibility: hidden;
}

/* Tags
__________________________________________________ */

html {
	font-size: var(--global-font-size);
	font-family: var(--global-font-famile);
	background: var(--white-100);
	scroll-behavior: smooth;
}

body {
}

button {
	font-family: var(--global-font-famile);
	border: none;
	background: transparent;
	cursor: pointer;
}

a {
	color: var(--black-100);
	text-decoration: none;
}

/* Class
__________________________________________________ */

.container {
	max-width: var(--global-size-container);
	margin: 0 auto;
}

.d-flex {
	display: flex;
}

/* Header
__________________________________________________ */

.header {
	position: fixed;
	width: 100%;
	background: #29a28c1c;
	z-index: 9999999999;
}

.header__container {
	justify-content: space-between;
	align-items: center;
	height: 81px;
}

.header__logo {
	min-width: 270px;
	align-items: center;
	margin-right: 20px;
	color: var(--white-100);
	font-weight: 700;
	line-height: 1.38;
}

.header__logo > img {
	margin-right: 11px;
}

.header__navbar {
	justify-content: space-between;
	max-width: 889px;
	width: 100%;
}

.header__navbar__item {
	color: var(--white-100);
	letter-spacing: .025rem;
	font-size: var(--global-font-size);
	
	cursor: pointer;
}

.header__navbar__item > svg {
	margin: 0 0 1px 3px;
	fill: transparent;
}

.header__navbar__item > svg > path {
	stroke: var(--white-100);
}

.header__tooltip-parent {
	position: relative;
}

.header__tooltip__container {
	z-index: 9999999999;
	position: absolute;
	padding-top: 38px;
	top: 100%;
	left: -214px;
	width: 710px;
	cursor: default;
}

.header__tooltip__content {
	position: relative;
	width: 100%;
	padding: 57px 0 83px 63px;
	background: var(--white-100);
}

.header__tooltip__content::after {
	content: '';
	position: absolute;
	top: -6px;
	left: 248px;
	width: 20px;
	height: 20px;
	background: var(--white-100);
	transform: rotate(45deg);
}

.header__tooltip__title {
	position: relative;
	margin-bottom: 30px;
	font-size: 2rem;
	font-weight: 400;
	text-align: left;
	letter-spacing: .09rem;
	line-height: 2.722rem;
	text-transform: uppercase;
	color: var(--black-100);
}

.header__tooltip__title::after {
	content: '';
	position: absolute;
	top: calc(100% + 2px);
	left: -18px;
	width: 309px;
	height: 1px;
	background: var(--turquoise-100);
}

.header__tooltip__navbar {
	flex-direction: column;
	text-align: left;
}

.header__tooltip__navbar__item:not(:last-child) {
	margin-bottom: 19px;
}

.header__tooltip__navbar__item__link {
	color: var(--black-100);
	font-size: 1.444rem;
	letter-spacing: .025rem;
	transition: all .3s;
}

.header__tooltip__content__right {
	position: absolute;
	top: 45px;
	right: 27px;
	width: 263px;
	height: 169px;
}

.header__menu-btn {
	justify-content: center;
	align-items: center;
	display: none;
	width: 39px;
	height: 39px;
}

.header__menu-btn > span {
	position: relative;
	width: 26px;
	height: 2px;
	background: var(--white-100);
	border-radius: 2px;
}

.header__menu-btn > span::after,
.header__menu-btn > span::before {
	content: '';
	position: absolute;
	width: inherit;
	height: inherit;
	background: inherit;
	border-radius: inherit;
	transform: translate(-50%, -8px);
}

.header__menu-btn > span::before {
	transform: translate(-50% , 8px);
}

/* Footer
__________________________________________________ */

.footer {

}

.footer__container {
	position: relative;
	display: grid;
	grid-template-columns: minmax(auto, 325px) minmax(auto, 231px) auto;
	column-gap: 150px;
	padding-top: 65px;
	padding-bottom: 90px;
	/* height: 292px; */
}

.footer__logo {
	align-items: center;
	font-weight: 700;
	font-size: 1.11;
	line-height: 1.5;
}

.footer__logo > img {
	width: 82px;
	margin-right: 5px;
}

.footer__info__location {
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.66rem;
	letter-spacing: .0007rem;
	text-align: end;
	text-transform: uppercase;
}

.footer__soc-media__tel {
	align-items: center;
}

.footer__soc-media__tel > svg {
	margin-right: 12px;
}

.footer__soc-media__tel__num {
	flex-direction: column;
}

.footer__soc-media__tel__num__link {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.66rem;
	letter-spacing: .065rem;
}

.footer__soc-media__cos-media {
	flex-direction: column;
}

.footer__soc-media__cos-media > span {
	margin-top: 12px;
}

.footer__soc-media__cos-media > span > .footer__soc-media__cos-media__link {
	font-size: 0.72rem;
}

.footer__soc-media__cos-media > span > .footer__soc-media__cos-media__link:first-child {
	margin-right: 22px;
}

.footer__soc-media__cos-media__link {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 1rem;
	line-height: 171.18%;
	text-transform: uppercase;
}

.footer__soc-media__cos-media__link > svg,
.footer__soc-media__cos-media__link > img {
	margin-right: 12px;
}

.footer__navbar {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 123px;
	margin-right: auto;
}

.footer__navbar__item {
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.83rem;
}

.footer__to-top-arrow {
	position: absolute;
	top: 75px;
	right: 0;
}