/* Global.CSS
__________________________________________________ */

:root {
	/* Colors */
	--turquoise-100: #017B65;
	--turquoise-200: #29A28C;

	--white-100: #FFFFFF;
	--white-200: #E5E5E5;

	--black-100: #000000;

	/* Gradient */
	--gradient-1: linear-gradient(243.89deg, #25BA9F 2.05%, #1B7F6D 52.81%, #157161 75.54%, #09463B 101.06%);

	/* Global */
	--global-font-famile: 'Open Sans', sans-serif;
	--global-font-size: 18px;
	--global-size-container: 1450px;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Tags
__________________________________________________ */

body {
	font-family: var(--global-font-famile);
	font-size: var(--global-font-size);
	background: var(--white-200);
}

/* Class
__________________________________________________ */

.container {
	max-width: var(--global-size-container);
	margin: 0 auto;
}

.d-flex {
	display: flex;
}

/* Header
__________________________________________________ */

.header {
	background: #29a28c1c;
}

.header__container {
	justify-content: space-around;
	align-items: center;
	height: 81px;
}

.header__logo {
	align-items: center;
	color: var(--white-100);
	text-decoration: none;
	font-weight: 700;
	line-height: 1.38;
}

.header__logo > img {
	margin-right: 11px;
}