/* media.css
__________________________________________________ */

@media screen and (max-width: 1450px) {
    .container {
        padding: 0 15px;
    }

    .footer__container {
        padding-right: 100px;
    }
}

@media screen and (max-width: 1000px) {
    .header__navbar {
        display: none;
    }

    .header__logo {
        min-width: 0;
        margin-right: 0;
    }

    .header__menu-btn {
        display: flex;
    }

    .footer__container {
        display: grid;
        column-gap: 200px;
    }

    .footer__container > :nth-child(2) {
        padding-left: 75px;
        grid-row-start: 2;
    }

    .footer__container > :nth-child(3) {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        row-gap: 5px;
    }

    .footer__info__location {
        padding-right: 15px;
    }

    .footer__navbar {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 50px;
    }
}

@media screen and (max-width: 320px) {
    .header__menu-btn > span {
        width: 8px;
    }

    .header__logo {
        font-size: 1rem;
    }

    .header__logo > img {
        width: 22px;
        margin-right: 8px;
    }
    
    .header__menu-btn {
        justify-content: flex-end;
    }

    .header__menu-btn > span {
        width: 8px;
    }

    .header__menu-btn > span::after {
        width: 13px;
        transform: translate(-70%, -8px) ;
    }

    .header__menu-btn > span::before {
        width: 16px;
        transform: translate(-74%, 8px);
    }
}